.module-border-wrap {
  padding: 1rem;
  position: relative;
  background: linear-gradient(12deg, #07f6fa, #06bd92);
  opacity: 0.5;
  padding: 4px;
}

.module {
  background: #f2f0e4;
  color: white;
  padding: 2rem;
}
