<div class="header-border">
    <div class="flex items-center justify-between">
        <div class="flex justify-start ml-5">
            <img src="/assets/images/logo-icon.png" alt="logo-icon" width="50" height="60">
            <img src="/assets/images/logo-name.png" alt="logo-name" width="170" height="60">
        </div>
        <div class="flex justify-end text-emerald-950 mr-5">
            <a *ngFor="let tab of ['About Us', 'Our Services', 'Contacts']"
                class="font-bold px-3 py-2 mr-1 rounded-md hover:bg-[#06bc91] hover:text-[#2f5f48]"
                [ngClass]="{ 'bg-[#06bc91] text-white' : selectedTab === tab }" (click)="onTabClick(tab)">
                {{ tab }}
            </a>
        </div>
    </div>
</div>