<div class="main-block grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    <div class="col-span-1 inline-block align-middle">
        <br>
        <img class="alt-1" src="/assets/images/img4.jpg" alt="plane-cargo">
        <br>
        <img class="alt-2 service-img-hide" src="/assets/images/img6.jpg" alt="sea-cargo">
        <br>
        <img class="alt-1 service-img-hide" src="/assets/images/truck-benz.jpg" alt="road-cargo">
    </div>
    <div class="col-span-2 text-justify text-info">
        <div class="title"><b class="main-title font-serif">Our Story</b></div>
        <div class="section-info">
            Established in 2005, we are one of the leading privately owned Customs clearance & freight forwarding
            company in Dubai, UAE. Our goal is to provide our customers with the best value and hassle free service. We
            handle all sorts of Dangerous goods Handling, Packing and freight in and out of Dubai and rest of GCC. We
            can assure you the best possible rates for all our services compared to other agents.
            <br>
            <br>
            We are experienced freight forwarding company in Dubai, United Arab Emirates. We
            are
            dedicated to providing our clients with comprehensive and efficient cargo solutions to meet their specific
            needs.
            Our team consists of highly qualified and experienced professionals who are passionate about logistics and
            committed to exceeding customer expectations. We possess in-depth knowledge of the region's import and
            export
            regulations, ensuring a smooth and compliant cargo movement process.
            <br>
            <br>
            We have a proven track record of success in handling a wide range of cargo
            types
            and
            destinations.
            Our team stays updated on the latest industry trends and regulations to
            provide
            you
            with
            the best possible service.
            We take the time to understand your specific needs and tailor our
            solutions
            accordingly.
            We offer competitive rates without compromising on the quality of service.
            We prioritize timely deliveries and ensure your cargo reaches its
            destination safely and securely.
            <br>
            <br>
            We are committed to building long-term partnerships with our clients and becoming their trusted partner for
            all
            their cargo forwarding needs.
        </div>
    </div>
</div>