div {
  background-color: #d6f9fa;
  color: black;
}

.main-title {
  text-align: center;
}

.text-info {
  margin-left: 5%;
}

img {
  height: 30%;
  width: 80%;
}
.text-info {
  margin: 5% auto;
  padding: 0% 5% 0% 0%;
}
