<div class="main-block grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">
    <div class="col-span-2  inline-block align-middle">
        <b class="main-title font-serif">What Sets Us Apart </b>

        <ul class="list-disc leading-relaxed text-justify text-info section-info">
            <li>
                <b>Personalized Service</b> : Dedicated Specialists to monitor the shipments from start to finish.
            </li>
            <li>
                <b>Unmatched Expertise</b> : We specialise in Dangerous Goods handling and clearance with an excellent
                safety record.
            </li>
            <li>
                <b>Always Available</b> : 24/7 service upon request.Please do not hesitate to contact us for any cargo
                related consultation and other business queries.
            </li>
            <li>
                <b>Competitive Rates</b> : Special arrangement of space and rates with all major Airlines.
            </li>
            <li>
                <b>Commitment to Efficiency</b> : We look forward for a mutual and successful business co-operation in
                the near future.
            </li>
        </ul>
    </div>
    <div class="col-span-1  text-justify text-info">
        <img class="service-img rounded-2xl" src="/assets/images/cargo-plane.jpeg" alt="plane-cargo">
        <br>
    </div>
</div>