<div class="main-block">
    <div class="col-span-2 text-justify text-info">
        <b class="main-title">Why Choose Us? </b>
        <ul class="list-disc">
            <li>
                <b>Personalized Service</b> : Dedicated Specialists to monitor the shipments from start to finish.
            </li>
            <li>
                <b>Unmatched Expertise</b> : We specialise in Dangerous Goods handling and clearance with an excellent
                safety record.
            </li>
            <li>
                <b>Always Available</b> : 24/7 service upon request.Please do not hesitate to contact us for any cargo
                related consultation and other business queries.
            </li>
            <li>
                <b>Competitive Rates</b> : Special arrangement of space and rates with all major Airlines.
            </li>
            <li>
                <b>Commitment to Efficiency</b> : We look forward for a mutual and successful business co-operation in
                the near future.
            </li>
        </ul>
    </div>
</div>