<div id="contacts" class="main-block grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2">
    <div class="google-map">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3608.270738959987!2d55.364350075383925!3d25.26147637766962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f5dd4191da715%3A0x69e3c7b7cbf3280d!2sJayares%20Cargo%20LLC%2COffice%20no%3A218%2C2nd%20floor%2CDnata%20Import%20Building-D%20-Block.!5e0!3m2!1sen!2sae!4v1714891615295!5m2!1sen!2sae"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
        <div>
            <b>Visit Us : </b>
            <div> Jayares Cargo LLC,<br>
                PO BOX 231641 <br>
                Room No. 218 - Frieght Gate - 5 <br>
                DNATA Dubai Airport Free Zone <br>
                Dubai, United Arab Emirates
            </div>
        </div>
        <div>
            <b>Connect with Our Team : </b>
            <div>+971-04-2992584 / 2992585</div>
            <div>+971-04-2992488</div>
            <div>050-3206604 / 0555646413</div>
        </div>
        <div>
            <b>Launch Email Draft : </b> <br>
            <div>
                <a [href]="'mailto:' + email" class="text-blue-500 hover:underline">
                    {{ email }}
                </a>
            </div>
        </div>
    </div>
</div>