<div class="main-block">
    <b class="main-title">
        Efficient Freight <br>Solutions
    </b>
    <div class="grid grid-cols-3 gap-4">
        <div class="text-justify col-span-2 text-info">
            Your Reliable Partner in Cargo Forwarding
            J Logistics, established in 2005, is a leading cargo clearing and forwarding company based in Dubai, UAE. We
            provide efficient and cost-effective customs documentation, packing, freight forwarding, transportation, and
            consultation services for all cargo- related jobs. Committed to customer relations and quality service, our
            dedicated team adheres to local and international regulations.
            <br>
            <a>Learn More</a>
        </div>
        <div class="col-span-1">
            <img src="/assets/images/plane-cargo.jpeg" height="60px" alt="plane-cargo">
        </div>
    </div>
</div>