<div class="main-block grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 ">
    <div class="col-span-2 ">
        <b class="main-title font-serif leading-tight">
            Efficient Freight Solutions
        </b>
        <div class="text-justify text-info">
            Jayares Cargo LLC offers a comprehensive suite of services to cater to all your cargo forwarding needs. We
            understand
            that every shipment is unique, and we are committed to providing customized solutions to ensure your cargo
            reaches
            its destination safely and efficiently.
            <br>
            <a>Learn More</a>
        </div>
    </div>
    <div class="col-span-1 intro-image">
        <img src="/assets/images/airplane.jpg" height="60px" alt="plane-cargo">
    </div>
</div>