<div class="sticky top-0">
    <div class="header-border grid lg:grid-cols-3 gap-4">
        <div class="flex justify-start ml-5 col-span-2">
            <img src="/assets/images/logo-name.png" alt="logo-name" width="200" height="30">
        </div>
        <div class="flex justify-end text-emerald-950 mr-5">
            <a *ngFor="let tab of ['Home','About Us', 'Our Services', 'Contacts']"
                class="header-tabs font-bold px-2 py-2 mr-1 rounded-md hover:text-[#06bc91]"
                [ngClass]="{ 'text-[#06bc91] decoration-emerald-500 leading-10' : selectedTab === tab }"
                (click)="onTabClick(tab)">
                {{ tab }}
            </a>
        </div>
    </div>
</div>

<home id="Home" style="padding-top: 71px;"></home>
<about-us id="About Us"></about-us>
<why-us></why-us>
<our-services id="Our Services"></our-services>
<!-- <testimonials></testimonials> -->
<contacts id="Contacts"></contacts>

<div class="fixed-bottom p-2 h-10 flex items-center justify-center copyright">
    Copyright © 2013 | JAYARES CARGO LLC
</div>