<div class="main-block grid grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">
    <div class="col-span-2">
        <div class="title"><b class="main-title font-serif">Services We Offer</b></div>
        <b class="text-justify text-info section-info">We use all classes of labels and placards as well as special
            shipping labels and shipping forms for the
            transport of hazardous goods
        </b>
        <br>
        <div class="object-right">
            <img class="service-img rounded-2xl" src="/assets/images/labels.png" alt="hazardous">
        </div>

    </div>
    <div class="col-span-2">
        <div class="section-info">
            <br><b>Dangerous goods Handling</b> <br>
            • All Sorts of Dangerous goods Handling, Packing and clearance according to IATA standards. <br>
            • Dangerous Goods Documentation. <br>
            • Transportion. <br>
            • Airport to Airport. <br>
            • Automotive Goods. <br>
            • Exhibition cargo handling. <br>
            • Odd sized cargo handling.

            <br><b>Custom Brokerage</b> <br>
            • Custom Clearance (import, export, transit in/out) VAT inspection, Exit entry.<br>
            • Document Preparation. <br>
            • Duty/VAT Management. <br>
            • Consultation on all types of Cargo shipments.

            <br><b>Transportation</b> <br>
            • We can fulfill all sorts of transportation requirement for our customers. <br>
            • Delivery and drop off services. <br>
            • Inter free zone delivery. <br>
            • Odd sized cargo transportation.


        </div>
    </div>
</div>