@tailwind base;
@tailwind components;
@tailwind utilities;

.main-title {
  font-size: 70px;
  color: #2e5e47;
}

.main-block {
  background-color: #fff6ef;
  padding: 3% 10%;
}

.text-info {
  margin: auto;
  padding: 0% 5% 0% 0%;
}

@media only screen and (max-width: 320px) {
  .main-title {
    font-size: 40px;
  }
}

@media only screen and (min-width: 375px) {
  .main-title {
    font-size: 45px;
  }
}

@media only screen and (min-width: 768px) {
  .main-title {
    font-size: 55px;
  }
}

@media only screen and (min-width: 1024px) {
  .main-title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .service-img-hide {
    display: none;
  }
}
